body {
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
    height: auto;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color: antiquewhite;
}

.container {
    height: 600px;
}

.gamePanel {
    height: 600px;
    border: aliceblue;
    position: relative;
    background-color: inherit !important;
}

.ropeLeft {
    height: 113px;
    border-left: 5px solid #00aeef;
    position: absolute;
    margin-top: 70px;
    margin-left: 11px;
    border-radius: 2px;
    z-index: -1;
}

.ropeRight {
    height: 113px;
    border-left: 5px solid #00aeef;
    position: absolute;
    margin-top: 70px;
    margin-left: 96px;
    border-radius: 2px;
    z-index: -1;
}

.pendulum {
    background-image: url(../img/balance2.png);
    background-repeat: no-repeat;
    height: 112px;
    width: 112px;
    background-position: -4px -22px;
    margin-top: 14px;
    position: absolute;
    transform: scale(0.80);
}

.hanger {
    background-image: url(../img/balance2.png);
    background-repeat: no-repeat;
    height: 21px;
    width: 21px;
    background-position: -4px -6px;
    position: absolute;
    margin-left: 43px;
    margin-top: 11px;
}

.boxLeft {
    background-image: url(../img/balance2.png);
    background-repeat: no-repeat;
    height: 110px;
    width: 82px;
    background-position: -19px -142px;
    position: absolute;
    margin-top: 181px;
    left: -13px;
    flex-wrap: wrap-reverse;
    display: flex;
}

.boxRight {
    background-image: url(../img/balance2.png);
    background-repeat: no-repeat;
    height: 110px;
    width: 82px;
    background-position: -19px -142px;
    position: absolute;
    margin-top: 181px;
    margin-left: 57px;
    flex-wrap: wrap-reverse;
    display: flex;
}

.floor {
    background-image: url(../img/floor2.png);
    background-repeat: repeat-x;
    height: 25px;
    width: 170px;
    position: absolute;
    margin-left: -29px;
}

.topHanger {
    background-image: url(../img/balance2.png);
    background-repeat: no-repeat;
    height: 13px;
    width: 71px;
    background-position: -39px -6px;
    position: absolute;
    margin-left: 20px;
    z-index: 1;
}

.ropeTop {
    height: 66px;
    border-left: 5px solid lightslategrey;
    position: absolute;
    margin-top: 6px;
    margin-left: 53px;
    border-radius: 2px;
    z-index: 1;
}

#circleShape {
    height: 25px;
    width: 25px;
    background-color: cornflowerblue;
    border-radius: 50%;
    display: inline-block;
}

#squareShape {
    width: 25px;
    height: 25px;
    background-color: cadetblue;
    display: inline-block;
}

#triangleShape {
    width: 0;
    height: 0;
    border-left: 13px solid transparent;
    border-right: 13px solid transparent;
    border-bottom: 25px solid indianred;
    display: inline-block;
}

.shapes {
    background-image: url(../img/shapeDesk.png);
    width: 125px;
    height: 113px;
    background-repeat: no-repeat;
    margin-top: 51% !important;
    margin-right: 50px !important;
    display: flex;
    margin-left: 114% !important;
    opacity: 1;
}

.shapes>.triangles {
    margin-top: 40px;
}

.shapes>.circles {
    margin-top: 40px;
}

.shapes>.squares {
    margin-top: 40px;
}

.shapes>.circles>#circleShape {
    margin-left: 0px !important;
}

.shapes>.triangles>#triangleShape {
    margin-left: 0px !important;
}

.shapes>.squares>#squareShape {
    margin-left: 0px !important;
}

.success {
    background: url('../img/success.gif');
    height: 350px;
    width: 350px;
    background-repeat: no-repeat;
    margin-left: 60px;
}