body {
    background-image: url("../img/game-background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
    height: auto;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: 'cover';
}

.container {
    height: 600px;
}

.gamePanel {
    height: 600px;
    border: aliceblue;
    position: relative;
    background-color: inherit!important;
}

.ropeLeft {
    height: 113px;
    border-left: 5px solid #00aeef;
    position: absolute;
    margin-top: 70px;
    margin-left: 11px;
    border-radius: 2px;
    z-index: -1;
}

.ropeRight {
    height: 113px;
    border-left: 5px solid #00aeef;
    position: absolute;
    margin-top: 70px;
    margin-left: 96px;
    border-radius: 2px;
    z-index: -1;
}

.pendulum {
    background-image: url(../img/balance2.png);
    background-repeat: no-repeat;
    height: 112px;
    width: 112px;
    background-position: -4px -22px;
    margin-top: 14px;
    position: absolute;
    transform: scale(0.80);
}

.hanger {
    background-image: url(../img/balance2.png);
    background-repeat: no-repeat;
    height: 21px;
    width: 21px;
    background-position: -4px -6px;
    position: absolute;
    margin-left: 43px;
    margin-top: 11px;
}

.boxLeft {
    background-image: url(../img/balance2.png);
    background-repeat: no-repeat;
    height: 82px;
    width: 82px;
    background-position: -19px -135px;
    position: absolute;
    margin-top: 180px;
    left: -14px;
    /* transform: scale(0.8); */
    flex-wrap: wrap-reverse;
    display: flex;
}

.boxRight {
    background-image: url(../img/balance2.png);
    background-repeat: no-repeat;
    height: 82px;
    width: 82px;
    background-position: -19px -135px;
    position: absolute;
    margin-top: 180px;
    margin-left: 60px;
    /* transform: scale(0.8); */
    flex-wrap: wrap-reverse;
    display: flex;
}

#circleShape {
    height: 25px;
    width: 25px;
    background-color: cornflowerblue;
    border-radius: 50%;
    display: inline-block;
}

#squareShape {
    width: 25px;
    height: 25px;
    background-color: cadetblue;
    display: inline-block;
}

#triangleShape {
    width: 0;
    height: 0;
    border-left: 13px solid transparent;
    border-right: 13px solid transparent;
    border-bottom: 25px solid indianred;
    display: inline-block;
}
